---
title: 'Home'
---

<div class="home">
	<div class="page-front">
		<h1 class="title">{{ site.title }}</h1>
		<h3 class="sub-title">CSG Liudger Raai</h3>
	</div>

	{% include header.html %}

	<div class="page-content">
		{% for post in site.posts %}
		{% if post.path contains 'home' %}
		<div class="section">
			<a href="{{ post.url }}">
				<h2>{{ post.title }}</h2>
			</a>
			{% unless post.sub-title == nil %}
			<h3>{{ post.sub-title }}</h3>
			{% endunless %}
			<div class="content">
				<p>{{ post.content }}</p>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>