---
layout: base
title: "races"
styles: ["races"]
---

<div class="intro">
    
</div>

<div class="race-elements">
    <div class="intro-race-elements">
        <h1>Race elementen</h1>
        <p>In een raceweekend worden een bepaald aantal verschillende races gevaren. Per raceweekend wordt bepaald de organisatie welke verschillende race-elementen er dat weekend gevaren gaan worden. De organisatie kiest één of meerdere van deze race-elementen. Per locatie verschilt het aantal en de vorm van de race-elementen. In totaal gaan we drie raceweekenden varen. Het eerste raceweekend is op 22 en 23 mei in Akkrum; het tweede is op 5 en 6 juni in Purmerend; het derde is op 19 en 20 juni in Honselersdijk (Naaldwijk).
        </p>
    </div>
    
    {% for race-element in site.data. race-elements %}
    <div class="race-element">
        <div class="title">
            <h1>{{race-element.char}}. {{race-element.name}}</h1>
        </div>
        <div class="content">
            {% if race-element.description != "" %}
            <p>{{race-element.description}}</p>
            {% endif %}
            {% if race-element.img != "" %}
            <img src="{{race-element.img}}">
            {% endif %}
        </div>
    </div>   
    {% endfor %}
</div>
