---
layout: base
title: "Sponsoren"
styles: ["Sponsoren"]
---
<div class="sponsors">
    
    <h1>Onze Hoofdsponsoren</h1>

    <div class="sponsor-grid">
        {% for sponsor in site.data.sponsors %}
            {% if sponsor.is-main %}
                <div class="sponsor-container">
                    {% if sponsor.url != nil %}
                        <a href="{{ sponsor.url }}" target="_blank"><img src="{{ sponsor.image }}" alt="{{ sponsor.name }}"></a>
                    {% else %}
                        <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <h1>Onze Sponsoren</h1>

    <div class="sponsor-grid">
        {% for sponsor in site.data.sponsors %}
            {% if sponsor.is-main == false %}
                <div class="sponsor-container">
                    {% if sponsor.url != nil %}
                        <a href="{{ sponsor.url }}" target="_blank"><img src="{{ sponsor.image }}" alt="{{ sponsor.name }}"></a>
                    {% else %}
                        <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="become-sponsor">
        <h3>Ook sponsor worden als bedrijf of individu? <span><a href="/word-sponsor" class="highlighted">Klik hier</a></span></h3>   
    </div>

    <h1 id="zonnecel-sponsoring">zonnecel sponsoring</h1>
    <p>Wij gaan een boot bouwen die op zonne-energie vaart. Zonder zonnepanelen geen zonne-energie. Zo'n zonnepaneel bestaat zonnecellen. Om ons te helpen met het bouwen van de boot kunt u een of meerdere van deze zonnecellen kopen voor een tientje. Uw naam komt dan bij de bijbehorende zonnecel op de website te staan en u krijgt een leuke sleutelhanger van ons. Ons doel is om alle zonnecellen te verkopen. Wilt u ons helpen? <a class="highlighted" target="Blank_" href="https://forms.gle/8fNMxm31s6DUUW7L9">Klik dan hier!</a>
    </p>
    <div class="solar-pannels">
        {% for pannel in  site.data.soloarcell %}
        <div class="solar-pannel">
            <h1>{{pannel.name}}</h1>
            {% for row in pannel.cells %}
            <div class="cell-row">
                {% for colom in row %}
                {% if colom == "-" %}
                <img src="/resources/images/available-cell.png">
                {% else%}
                <div class="image-container">
                    <span class="cell-info">{{colom}}</span>
                    <img src="/resources/images/bought-cell.png">
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {%  endfor %}
    </div>
</div>