---
layout: base
title: "Sponsoren"
largeheader: true
---
<div class="sponsors">
    
    <h1>Onze Hoofdsponsoren</h1>

    <div class="sponsor-grid">
        {% for sponsor in site.data.sponsors %}
            {% if sponsor.is-main %}
                <div class="sponsor-container">
                    {% if sponsor.url != nil %}
                        <a href="{{ sponsor.url }}" target="_blank"><img src="{{ sponsor.image }}" alt="{{ sponsor.name }}"></a>
                    {% else %}
                        <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <h1>Onze Sponsoren</h1>

    <div class="sponsor-grid">
        {% for sponsor in site.data.sponsors %}
            {% if sponsor.is-main == false %}
                <div class="sponsor-container">
                    {% if sponsor.url != nil %}
                        <a href="{{ sponsor.url }}" target="_blank"><img src="{{ sponsor.image }}" alt="{{ sponsor.name }}"></a>
                    {% else %}
                        <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="become-sponsor">
        <h3>Ook sponsor worden als bedrijf of individu? <span><a href="/word-sponsor" class="highlighted">Klik hier</a></span></h3>   
    </div>
    <div class="gfm-embed" data-url="https://www.gofundme.com/f/young-solar-challenge-raai-team-helios/widget/small"></div><script defer src="https://www.gofundme.com/static/js/embed.js"></script>
</div>