:root {
    --main-text-white: rgb(240, 240, 240);
    --main-text-black: rgb(4, 4, 4);
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, a {
    color: var(--main-text-white);
}

p, a {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

a > img {
    transition: 0.2s;
}

a > img:hover {
    transform: scale(0.97);
}

.background-image {
    perspective: 1px;

    position: fixed;
    min-width: 100vw;
    min-height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;

    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%) scale(1.05) translateZ(-3px);
    -ms-transform: translate(-50%,-50%) scale(1.05) translateZ(-3px);
        transform: translate(-50%,-50%) scale(1.05) translateZ(-3px);

    z-index: -1;
}

/* .background-video {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;

    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%) scale(1.05);
    -ms-transform: translate(-50%,-50%) scale(1.05);
        transform: translate(-50%,-50%) scale(1.05);

    z-index: -1;
} */


/* Home */
.home {
    padding: 5% 25%;
}

.home .section {
    margin: 20% 0;
}

.home .section .content {
    margin: 0 10%;
}

.home .section img {
    width: 100%;
    box-shadow: 0 0 30px #000;
    border-radius: 15px;
}

.home .section h1, h2, h3 {
    text-align: center;
}

.home .section h1, h2, h3, p {
    text-shadow: 0 0 15px #000;
}

.home .section p {
    text-align: justify;
}

.home .section h1 {
    font-size: 54pt;
}

.home .section h3 {
    font-style: italic;
    font-size: 18pt;
}

.home .section h2 {
    font-size: 36pt;
}

.home .section p {
    font-size: 14pt;
    margin: 20px 0;
}

/* Posts */
.image-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
}

.home .section .image-grid img {
    width: 15vw;
    box-shadow: none;
    margin: 20px;
    border-radius: 0;
}
