.footer {
	height: 100px;
	background-color: var(--main-light);

	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	border-radius: 10px 10px 0 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.footer .social .social-link {
	display: flex;
	align-items: center;
}

.footer .social .social-link img {
	height: 30px;
}

.footer .social .social-link p {
	color: var(--main-text-gray);
	margin-left: 10px;
	font-weight: bold;
}

.footer .logo{
	margin: 10px;
}

.footer .logo img {
	margin-top:10px;
	height:70px;
}