.header {
	width: 100%;
}

.large-header {
	min-height: 300px;
	height: 20vh;
	max-height: 400px;
}

.header .text-box > * {
	color: var(--main-text-white);
}

.header .banner {
	width: 100%;
	height: 100%;
	background-image: url(/resources/images/header-full.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.header .banner .text-box {
	color: white;
	opacity: 0.8;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.header .banner .text-box h1 {
	font-size: 3em;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;
}

.header .banner .text-box p {
	font-size: 1.2em;
	font-weight: 600;
}

.header .nav {
	background-color: var(--main-light);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	height: 50px;

	display: flex;
	justify-content: center;

	border-radius: 0 0 30px 30px;
}

.header .nav > a {
	margin: auto 40px;
	text-transform: uppercase;
	font-size: 1.3em;
}
