.header {
	width: 100%;
}

.large-header {
	min-height: 300px;
	height: 20vh;
	max-height: 400px;
}

.header .text-box > * {
	color: var(--main-text-white);
}

.header .banner {
	width: 100%;
	height: 100%;
	background-image: url(/resources/images/header-full.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.header .banner .text-box {
	color: white;
	opacity: 0.8;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.header .banner .text-box h1 {
	font-size: 3em;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;
}

.header .banner .text-box p {
	font-size: 1.2em;
	font-weight: 600;
}

.header .nav {
	background-color: var(--main-light);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	height: 50px;

	/* overflow: scroll; */
	display: flex;
	justify-content: center;

	border-radius: 0 0 10px 10px;
}

.header .dropdown .nav .nav-item{
	margin: 15px;
	text-align: center;
}

.header .nav .nav-item > a {
	margin: auto 40px;
	text-transform: uppercase;
	font-size: 1.3em;
}

.header .dropdown{
	width: 100%;
}

.header .dropdown .dropdownbtn{
	display: none;
	width: 100%;
	padding: 10px;
	background-color: unset;
	border-radius: 0 0 10px 10px;
	border: unset;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width:500px){
	.header .dropdown{
		position: relative;
		display: inline-block;
	}

	.header .dropdown .dropdownbtn{
		display: block;
	}

	.header .dropdown .nav{
		display: none;
		position: absolute;
		background-color: rgba(255, 255, 255);
		height: 160px;
	}

	.header .dropdown img{
		width: 12%;
		float: left;
	}

	.header .dropdown:hover .nav{
		display: block;
	}

	.header .dropdown .nav{
		width:100%;
		float: left;
	}
}