/* PAGE FRONT */
.home .page-front {
	width: 100%;
	height: 60vh;

	background-image: url('/resources/images/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.home .page-front > * {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	text-shadow: 0 0 20px #000;
}

.home .page-front .header {
	top: 0;
	transform: translateY(0);
	text-shadow: none;
}

.home .page-front h1 {
	color: var(--main-lighter);
	font-size: 60pt;
}

.home .page-front h3 {
	color: var(--main-lighter);
	font-size: 24pt;
}

/* PAGE CONTENT */
.home .page-content {
	min-height: 100vh;

	padding: 5% 20%;
}

.home .page-content h2,
h3 {
	text-align: center;
}

.home .page-content h2 {
	font-size: 24pt;
}

.home .page-content h3 {
	font-style: italic;
	font-weight: lighter;
}

.home .page-content p {
	font-size: 14pt;
}

.home .page-content .section {
	margin-bottom: 80px;
	padding: 5%;
	border-radius: 20px;
	background-color: var(--main-lighter);
	box-shadow: 0 0 20px #0004;
}

.home .page-content .section .content {
	margin-top: 20px;
}

.home .page-content .section:last-child {
	margin-bottom: 0;
}

.home .page-content .section img {
	width: 100%;
	border-radius: 20px;
	box-shadow: 0 0 20px #0008;
	margin: 20px 0;
}

.home #sponsor-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 40px;
}

.home #sponsor-grid a {
	margin: 20px;
	width: 40%;
}

.home #sponsor-grid img {
	box-shadow: none;
	border-radius: 0;
}

@media only screen and (max-width: 1300px) {
	.home .page-front {
		height: 50vh;
	}

	.home .page-front h1 {
		font-size: 40pt;
	}

	.home .page-front h3 {
		font-size: 16pt;
	}
}

@media only screen and (max-width: 1100px) {
	.home .page-front {
		height: 30vh;
	}
}

@media only screen and (max-width: 950px) {
	.home .page-content {
		padding: 10% 10%;
	}
}

@media only screen and (max-width: 700px) {
	.home .page-front h1 {
		font-size: 7vw;
	}

	.home .page-front h3 {
		font-size: 3vw;
	}

	.home .page-front {
		height: 45vw;
	}

	.home #sponsor-grid a {
		margin: 10px;
	}
}

@media only screen and (max-width: 500px) {
	.home .page-content {
		padding: 10% 0;
	}

	.home .page-content .section {
		border-radius: 0;
		padding: 40px;
	}

	.home .page-content .section p {
		font-size: 14pt;
	}
}
