.home > * {
	margin-top: 80px;

	margin-left: 20%;
	margin-right: 20%;
}

.home > *:last-child {
	margin-bottom: 80px;
}

.home .info-containers .container {
	display: flex;

	margin-bottom: 60px;
}

.home .info-containers:last-child {
	margin-bottom: 0;
}

.home .info-containers .container .content {
	padding-left: 40px;
}

.home .info-containers .right .content {
	padding-right: 40px;
	padding-left: 0;
}

.home .info-containers .container img {
	max-height: 300px;
	float: left;

	border-radius: 10px;

	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.home .info-containers .container .right img {
	float: right;
}

.home .info-containers .container .content h2 {
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 2.5em;

	color: var(--main-text-gray);
}

.home .info-containers .container p {
	font-size: 16pt;
}

.home .info-containers .right {
	text-align: right;
	flex-direction: row-reverse;
}

.home .news .news-feed {
	display: flex;
	justify-content: center;
}

.home .news .news-feed > * {
	margin-right: 40px;
}

.home .news .news-feed:last-child {
	margin-right: 0;
}

.home .news .news-feed .news-post .news-item {
	width: 300px;
	/* min-height: 500px; */
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}

.home .news .news-feed .news-post{
	margin-top: 20px;
}

.home .news .news-feed .news-post .news-item img {
	width: 100%;

	border-radius: 10px 10px 0 0;

	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.home .news .news-feed .news-post .news-item .content {
	padding: 20px;
	height: 100%;

	background-color: var(--main-light);

	border-radius: 0 0 10px 10px;

	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.home .news .news-feed .news-post .news-item .content h3 {
	color: var(--main-text-gray);
	text-transform: uppercase;
	font-size: 1.7em;
	font-weight: lighter;
	margin-bottom: 10px;
}

.home .sponsors .sponsor-logos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.home .sponsors .sponsor-logos > * {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20px;
	margin-right: 20px;
}

.home .sponsors .sponsor-logos:last-child {
	margin-right: 0;
}

.home .sponsors .sponsor-logos img {
	width: 300px;
	height: 100%;
}

.home .quote {
	text-align: center;
	font-style: italic;

	font-size: 16pt;
}

.home .sub-quote {
	text-align: center;
	font-style: italic;

	margin-top: 0px;
	font-size: 12pt;
}

@media only screen and (max-width: 1200px) {
	.home .info-containers .container {
		flex-direction: column;
	}

	.home .info-containers .container img {
		display: none;
	}

	.home .info-containers .container .content {
		padding: 0;
	}

	.home .info-containers .container h2 {
		text-align: center;
	}

	.home .info-containers .container p {
		text-align: left;
	}

	.home .news .news-feed {
		flex-direction: column;
	}

	.home .news .news-feed .news-post {
		margin-right: 0;
	}
}

@media only screen and (max-width: 700px) {
	.home .info-containers .container h2 {
		margin-bottom: 20px;
	}

	.home .sponsors{
		margin-right: 10%;
		margin-left: 10%;
	}

	.home .news{
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media only screen and (max-width: 450px) {
	.home .info-containers {
		margin-left: 10%;
		margin-right: 10%;
	}
	.home .news{
		margin-left: 1%;
		margin-right: 1%;
	}

	.home .sponsors{
		margin-right: 1%;
		margin-left: 1%;
	}
}
