.sponsors .become-sponsor {
	margin-top: 60px;

	font-size: 17pt;
	text-align: center;
}

.sponsors .become-sponsor h3 {
	margin: 25px 5%;
	text-transform: unset;
}

.sponsors h1 {
	margin-top: 60px;
	text-align: center;
}

.sponsors .sponsor-grid {
	margin: 60px 20%;

	display: flex;
	flex-wrap: wrap;

	justify-content: space-evenly;
}

.sponsors .sponsor-grid .sponsor-container {
	width: 40%;
}

.sponsors .sponsor-grid .sponsor-container img {
	width: 100%;
	max-height: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sponsors .sponsor-grid .sponsor-container img:hover {
	transform: scale(0.98);
}

.sponsors p{
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10px;
	font-size: 12pt;
}

.sponsors .solar-pannels{
	display: flex;
	flex-wrap: wrap;

	justify-content: space-evenly;
}

.sponsors .solar-pannels .solar-pannel{
	background-color: white;
	width: 600px;
	margin: 10px;
	margin-bottom: 30px;
	text-align: center;
	border-radius: 5px;
	border-style: solid;
}

.sponsors .solar-pannels .solar-pannel h1{
	margin: 0px;
}

.sponsors .solar-pannels .solar-pannel .cell-row img{
	width:16%;
}

.sponsors .solar-pannels .solar-pannel .cell-row .image-container{
	width: 16%;
	margin: 0;
	display: inline-block;
}

.sponsors .solar-pannels .solar-pannel .cell-row .image-container img{
	width: 100%;
}

.sponsors .solar-pannels .solar-pannel .cell-row .image-container img:hover{
	transform: scale(0.95);
}

.sponsors .solar-pannels .solar-pannel .cell-row .image-container .cell-info{
	visibility: hidden;
	width: 100px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	position: absolute;
	z-index: 1;
}

.sponsors .solar-pannels .solar-pannel .cell-row .image-container:hover .cell-info{
	visibility: visible;
}

.sponsors .solar-pannels .solar-pannel .cell-row .image-container .cell-info::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.image-container span{
	font-size: 12pt;
}

@media only screen and (max-width: 600px) {
	.sponsors .sponsor-grid {
		margin: 60px 5%;
	}
}

@media only screen and (max-width: 800px) {
	/* .sponsors h1 {
		font-size: 18px;
	} */
	.sponsors .sponsor-grid .sponsor-container {
		width: 100%;
	}

	.sponsors .solar-pannels .solar-pannel{
		width:95%;
		margin-left: 2%;
		margin-right: 2%;
	}

	.sponsors .solar-pannels .solar-pannel .cell-row img{
		width:15%;
	}
	
	.sponsors .solar-pannels .solar-pannel .cell-row .image-container{
		width: 15%;
	}
}

@media only screen and (min-width: 1600px){
	.sponsors .solar-pannels{
		margin-left: 10%;
		margin-right: 10%;
	}
}