:root {
  --main-accent-light: #E5446F;
  --main-accent-mid: #D30A40;
  --main-accent-deep: #4C0E3F;
  --main-lighter: white;
  --main-light: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, a, p {
  font-family: 'SF Mono', 'Menlo', monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--main-accent-mid);
}

p {
  color: black;
}

a {
  text-decoration: none;
  color: var(--main-accent-mid);
  transition: 0.2s;
}

a:hover {
  color: var(--main-accent-light);
  transform: scale(0.97);
}

html {
  overflow-x: hidden;
  background-color: var(--main-light);
}