<div class="footer">
    <a class="logo" id="logo" href="/">
        <img src="/resources/images/logo_transparent.png">
    </a> 
    
    <div class="social">
        <a class="social-link" href="https://www.instagram.com/young_solarboat_raai/" target="_blank" rel="noopener noreferrer">
            <img src="/resources/images/logos/instagram.png" alt="Instagram">
            <p>@young_solarboat_raai</p>
        </a>
    </div>

    {% for script in page.scripts %}
    <script src="{{script}}"></script>
    {% endfor %}
</div>