
<div class="header">
    {% if page.largeheader %}
    <div class="{% if page.largeheader %}large-header{% endif %} banner">
        <div class="text-box">
            <h1>Team Helios</h1>
            <p>CSG Liudger</p>
        </div>
    </div>
    {% endif %}
    <div class="dropdown">
        <div>
            <button class="dropdown-button"><img src="/resources/images/menu-icon.png"></button>
        </div>
        <div class="nav">
            <div class="nav-item"><a href="/">Home</a></div>
            <div class="nav-item"><a href="/leden">Leden</a></div>
            <div class="nav-item"><a href="/nieuws">Nieuws</a></div>
            <div class="nav-item"><a href="/sponsoren">Sponsoren</a></div>
        </div>
    </div>
</div>

